header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #ECFEFB;
    padding: 10px;
    img {
        padding: 20px;
    }
    .navbar1 {
        justify-content: right;
    }
}