.imagenes {
    img {
        margin: 10px 0;
        border-radius: 12px;
        box-shadow: 0px 17px 14px -1px rgba(0, 0, 0, 0.75);
    }
}

.centrador {
    display: flex;
    justify-content: center;
}